/**************************************/
/*Default Size*/
/**************************************/

  * {
    margin: 0px;
    padding: 0px;
  }

  .row-centered {
      text-align:center;
  }

  .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
  }


  /***********************/
  /*Title and Instruction*/
  /***********************/

  .title {
    float: none;
    display: table-cell;
    font-size: 40px;
    font-weight: bold;
    text-align: center
  }

  .greyP {
    color: #e3e3e3;
  }

  .redP {
    color: #ef3d47;
  }

  .blueP {
    color: #87cefa;
  }

  .description {
    margin-left: 10px;
  }

  p {
    float: left;
    font-size: 10px;
  }

  /*******************/
  /*Board and Squares*/
  /*******************/

  .grey {
    background-color: #e3e3e3;
    color: #e3e3e3;
  }

  .red {
    color: #ef3d47;
    background-color: #ef3d47;
  }

  .blue {
    color: #87cefa;
    background-color: #87cefa;
  }

  .shadow {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(169,169,169,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(169,169,169,1);
    box-shadow: 5px 5px 5px 0px rgba(169,169,169,1);
  }

  a {
    float: left;
    height: 75px;
    width: 75px;
    margin: 5px;
  }

  .wait {
    float: left;
    height: 75px;
    width: 75px;
    margin: 5px;
  }

  .threeWrapper {
    display: block;
    height: 85px;
    width: 256px;
    margin: 5px;
  }

  /*******************/
  /*Button*/
  /*******************/
  #newGame {
    margin-left: 10px;
  }

/**************************************/
/*Small Size*/
/**************************************/
@media screen and (min-width : 780px) { 

  /***********************/
  /*Title and Instruction*/
  /***********************/
  .title {
    float: none;
    display: table-cell;
    font-size: 50px;
    font-weight: bold;
    text-align: center
  }
  
  p {
    float: left;
    font-size: 16px;
  }

  /*******************/
  /*Board and Squares*/
  /*******************/
  a {
    height: 125px;
    width: 125px;
    margin: 5px;
  } 

  .wait {
    float: left;
    height: 125px;
    width: 125px;
    margin: 5px;
  }

  .threeWrapper {
    height: 110px;
    width: 406px;
    margin: 5px;
  }

}

/**************************************/
/*Medium Size*/
/**************************************/
@media screen and (min-width : 980px) {

  /*******************/
  /*Board and Squares*/
  /*******************/
  a {
    height: 150px;
    width: 150px;
    margin: 5px;
  } 

  .wait {
    float: left;
    height: 150px;
    width: 150px;
    margin: 5px;
  }

  .threeWrapper {
    height: 110px;
    width: 481px;
    margin: 5px;
  }

} 